In [8]:
import pandas as pd

pd.options.display.max_rows = 100

df = pd.read_json(
    "/Users/yaminihariharan/Desktop/Spring 2026/INFO-H 501 - Intro to DS Programming /Final Project/Yelp JSON/yelp_dataset/yelp_academic_dataset_business.json",
    lines=True
)


import os
os.getcwd()

'/Users/yaminihariharan/Desktop/Spring 2026/INFO-H 501 - Intro to DS Programming /Final Project/H501 Project/INFO-H501-Team-3/yamini_initial'

In [9]:
df = df.drop(columns=["address","postal_code","latitude","longitude"])
print(df.shape) #dropped 4 columns

(150346, 10)

In [10]:
# There are significant amount of businesses that are not open anymore
df.is_open.value_counts()

is_open
1    119698
0     30648
Name: count, dtype: int64

In [ ]:
# Keep only business that are still open
# Drop columns that may not be relavent
df_business = df[df['is_open']==1].drop(['hours','is_open','review_count'], axis=1)
print(df_business.shape)
df_business.head()

In [ ]:
print('Total number of categories:', len(df_business.categories.value_counts()))
print('Top 10 categories:')
df_business.categories.value_counts()[:10]

In [ ]:
pd.Series(df_r["city"].dropna().unique()).sort_values()
df_r["city"].value_counts()